@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
  }
  
  a:hover {
    color: rgb(139, 139, 139);
  }

.header-slider-background {
    background-color: #000000; 
    padding-bottom: 20px; 
    padding-top: 20px;
    color: #fff;
  }
  
  /* HEADER */
  header {
    position: relative;
    display: flex;
    padding: 0 2rem;
    background-color: #000000;
  }
  
  .navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .navbar .logo a {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar .links {
    display: flex;
    gap: 2rem;
  }
  
  .navbar .toggle_btn {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  
  .action_btn {
    background-color: rgb(145, 145, 145);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
  }
  
  .action_btn:hover {
    scale: 1.05;
    color: #fff;
  }
  
  .action_btn:active {
    scale: 0.95;
  }
  
  /* RESPONSIVE DESIGN */
  @media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
      display: none;
    }
  
    .navbar .toggle_btn {
      display: block;
    }
  
    .dropdown_menu {
      display: block;
    }
  }
  
  @media (max-width: 576px) {
    .dropdown_menu {
      left: 2rem;
      width: unset;
    }
  }
  
  /* DROPDOWN MENU */
  .dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .dropdown_menu.open {
    display: block;
  }
  
  .dropdown_menu li {
    padding: 0.7rem;
    text-align: center;
  }
  
  .dropdown_menu li a {
    display: block;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .dropdown_menu li a:hover {
    background: #f4f4f4;
  }

  /* 2do HEADER CONTACT */


.contact-bg{
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(img/fondogris.jpg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-bg h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.contact-bg h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}
.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 70px;
    background: #f7327a;
    border-radius: 5px;
}
.line{
    display: flex;
    align-items: center;
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background: #f7327a;
    border-radius: 50%;
}
.text{
    font-weight: 300;
    opacity: 0.9;
}
.contact-bg .text{
    margin: 1.6rem 0;
}
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}
.contact-info span{
    display: block;
}
.contact-info div{
    margin: 0.8rem 0;
    padding: 1rem;
}
.contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #000000;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text{
    padding-top: 0.4rem;
}
.contact-form{
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
}
.contact-form form{
    padding-bottom: 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 50px 20px;
}

form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: #000000;
    font-size: 35px;
    margin-bottom: 20px;
}

label {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #c0c0c0;
    border: 2px solid #F0FAF1;
    color: #000;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: #444444;
}

.form-txt {
    margin-bottom: 30px;
    justify-content: space-between;
    text-align: center;
    display: flex;
}

.form-txt a {
    color: #444444;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn {
    font-size: 16px;
    color: #ffffff;
    border: 0;
    border-radius: 25px;
    background-color: #c0c0c0;
    box-shadow: 0 0 20px rgb(71, 71, 71);
    cursor: pointer;
    padding: 15px;
}

.btn:hover {
    background-color: #727272;
}



.contact-form > div img{
    width: 85%;
}
.contact-form > div{
    margin: 0 auto;
    text-align: center;
}
.contact-footer{
    padding: 2rem 0;
    background: #000;
}
.contact-footer h3{
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}
.social-links a:hover{
    color: #ffffff63;
    border-color: #ffffff63;;
}

  /* FOOTER */


footer {
    background-color: #000000;
    color: #fff;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-section {
    flex-basis: 30%;
    margin: 0 20px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 10px;
}

.footer-section li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}

.footer-section li a:hover {
    color: #ccc;
    text-decoration: underline;
}



@media screen and (min-width: 768px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .contact-bg .text{
        width: 50%;
    }
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
}
