* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  background-color: white;
  background-size: cover;
  background-position: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

a:hover {
  color: black;
}


/* FONDO GRIS DETRÁS DEL HEADER Y SLIDER */
.header-slider-background {
  background-color: #000000; 
  padding-bottom: 20px; 
  padding-top: 20px;
  color: #fff;
}

/* HEADER */
header {
  position: relative;
  display: flex;
  padding: 0 2rem;
  background-color: #000000;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar .logo a {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: rgb(145, 145, 145);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2s ease;
}

.action_btn:hover {
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

/* DROPDOWN MENU */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown_menu.open {
  display: block;
}

.dropdown_menu li {
  padding: 0.7rem;
  text-align: center;
}

.dropdown_menu li a {
  display: block;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.dropdown_menu li a:hover {
  background: #f4f4f4;
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
    cursor: pointer;
  }

  .dropdown_menu {
    display: none;
  }

  .dropdown_menu.open {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

/* SLIDER */
.slider {
  max-width: 1200px; /* Ancho máximo del slider */
  height: 70vh; /* Altura proporcional a la pantalla */
  position: relative;
  margin: 2rem auto; /* Centra el slider horizontalmente y da espacio arriba y abajo */
  overflow: hidden;
  border-radius: 10px; /* Esquinas redondeadas opcionales */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar el slider */
}

.mySlides {
  display: none; /* Oculta las diapositivas inicialmente */
  height: 100%; /* Asegura que las diapositivas ocupen toda la altura del slider */
}

.mySlides img {
  width: 100%; /* Escala la imagen para ocupar todo el ancho del contenedor */
  height: 100%; /* Escala la imagen para ocupar toda la altura del contenedor */
  object-fit: cover; /* Escala proporcionalmente para cubrir el contenedor sin deformarse */
}

.mySlides {
  display: none;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* brand slide*/

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos-slide {
  display: inline-block;
  animation: 10s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

/* texto arriba de cursos */

.coursetxt {
  text-align: center;
  width: 100%;
  line-height: 1.2;
  margin: 0 auto;
  padding: 0 20px; /* Añade un poco de padding para dispositivos más pequeños */
  padding-top: 6rem;
}

.coursetxt h1 {
  font-size: 3.4rem;
  padding-bottom: 1.1rem;
}

.coursetxt p {
  font-size: 18px;
}

/* cursos */

.courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px 20px;
  overflow: hidden;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.course {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.8s ease;
  transform-origin: center bottom; /* Punto de origen de la animación */
}


.course img {
  width: 100%;
  border-radius: 5px;
}

.course h3 {
  font-size: 1.5em;
  margin: 15px 0;
}

.course p {
  color: #666;
  font-size: 1em;
}

/* feature-txt*/

.featuretxt {
  height: calc(20Vh - 60px); /* 60px es la altura del header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
  padding-top: 8vh;
}

.featuretxt p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

/* feature*/
.features-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 5vh;
}

.feature {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.feature img {
  width: 50px;
  height: 50px;
}

.feature h3 {
  font-size: 1.2rem;
  margin: 0;
}

.feature p {
  margin: 0;
  color: #555;
}

/* button servicies*/

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5rem 0;
}

.bottom-servicies {
  padding: 12px 24px;
  background-color: #000000; /* Color azul */
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bottom-servicies:hover {
  background-color: #919191; /* Tono más oscuro al pasar el mouse */
}

/* OBJETIVOS */
.team-section {
  display: flex;
  justify-content: space-between; /* Espacio entre las columnas */
  align-items: flex-start;
  flex-wrap: wrap; /* Asegura que sea responsivo */
  padding: 40px;
}


.team-section-title {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px; /* Espaciado inferior */
  color: #333;
  padding-top: 8rem;
}

.content {
  flex: 1; /* Ocupa una columna completa */
  max-width: 50%; /* Asegura que el ancho no sea mayor al 50% */
  padding-left: 30rem;
  padding-bottom: 10rem;
}

.image-container {
  flex: 1; /* Ocupa una columna completa */
  max-width: 45%; /* Asegura que el ancho no sea mayor al 45% */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30rem;
}

.right-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.features {
  margin-top: 20px;
}

.feature {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.number {
  width: 44px;
  height: 44px;
  background-color: #acacac79;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  border: 2px solid #000; /* Borde negro */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 10px;
  font-size: 2rem;
}

.feature-content {
  display: flex;
  flex-direction: column; /* Coloca h3 y p en columna */
}

.feature h3 {
  font-size: 1.7rem;
  margin: 0;
  color: #333;
}

.feature p {
  margin: 10px 0 0; /* Espaciado superior para separar del h3 */
  color: #666;
  font-size: 1.24rem;
  line-height: 2rem; /* Ajusta la altura de línea */
}

/* Botón de llamada a la acción */

.ct-button {
  display: flex; /* Cambia el contenedor a flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding-right: 20rem;
  padding-bottom: 20vh;
}

.cta-button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #919191;
}



/* HERO */
#hero {
  height: calc(110Vh - 60px); /* 60px es la altura del header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
}

#hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* CONTACT FOOTER */


.contact-footer{
  padding: 2rem 0rem;
  background: #000;
}
.contact-footer h3{
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}
.social-links{
  display: flex;
  justify-content: center;
}
.social-links a{
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
  transition: all 0.4s ease;
}
.social-links a:hover{
  color: #ffffff63;
  border-color: #ffffff63;;
}

/* FOOTER */
footer {
  background-color: #000000;
  color: #fff;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer-section {
  flex-basis: 30%;
  margin: 0 20px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-section li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

.footer-section li a:hover {
  color: #ccc;
  text-decoration: underline;
}

/* CONTACT MAIN */
